* {
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

/**Header**/
nav {
	background-color: #252525;
	
}
.home {
    background-repeat: no-repeat;
    padding-bottom: 40%;
}