* {
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

/**Header**/
nav {
	background-color: #252525;
}
.caption-header{
	background-color: #272121;
	background-image: url(../images/bg_image_1.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	color: white;
	padding-top: 250px;
	padding-bottom: 250px;
}
.career{
	display: flex;
	align-items: center;
  	justify-content: center;

}
.badge{
	opacity: 0.4;
	filter: blur(4px);
	border-radius: 15px;
	padding: 10px;
	height: 3rem;
	width: 25rem;
}
.showcase{
	position: absolute;
}
b{
	color: #FF0000;
}

/**About**/
.about{
	padding-top: 5rem;
}
.text{
	text-align: justify;
}
ul {
    list-style: none;
}
.btn{
	background-color: #FF0000;
}

/**Services**/
.services{
	padding-top: 5rem;
}

/**About**/
.portfolio{
	padding-top: 5rem;
}